{% extends 'base/basicview.html' %}
{% block content %}
<h1 class="text-center">Welcome to our page :v</h1>
<p class="text-center">We sincerely hope that our guides and team compositions serve as valuable resources for as many players as possible, fostering a supportive and enriching environment within our community. We believe in the importance of creating a kind, non-toxic fanbase that uplifts and encourages one another. As we continue to grow and engage with players from diverse backgrounds, we must emphasize that certain behaviors that disrupt this positivity, including any form of hostility or exclusion, will not be tolerated. While we appreciate the passion of all players, we do not welcome toxic elements, including those that may arise from specific communities, such as the Chinese fanbase. Together, let us strive to maintain a friendly and respectful atmosphere where everyone can enjoy the game and collaborate harmoniously.</p>
<div class="d-flex flex-row">
    <div class="card" style="width: 18rem; margin-right: 1rem;">
      <img src="resources/img/dungeons/giant.jpg" class="card-img-top" alt="giant summoners war">
      <div class="card-body">
        <h5 class="card-title">Giant's Keep B10</h5>
        <p class="card-text">A team for begginers to safely farm the giant.</p>
        <a href="/pagina2" class="btn btn-primary">Visit guide</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem; margin-right: 1rem;">
      <img src="resources/img/dungeons/dragon.jpg" class="card-img-top" alt="dragon lair summoners war">
      <div class="card-body">
        <h5 class="card-title">Dragon's Lair B10</h5>
        <p class="card-text">A team to defeat the dragon safely (almost always).</p>
        <a href="/pagina3" class="btn btn-primary">Visit Guide</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem; margin-right: 1rem;">
      <img src="resources/img/dungeons/necro.jpg" class="card-img-top" alt="lich king summoners war">
      <div class="card-body">
        <h5 class="card-title">Necropolis B10</h5>
        <p class="card-text">Easy team to get to defeat the lich king.</p>
        <a href="/pagina4" class="btn btn-primary">Visit Guide</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="resources/img/dungeons/realm.jpg" class="card-img-top" alt="spiritual realm summoners war">
        <div class="card-body">
          <h5 class="card-title">Spiritual Realm B10</h5>
          <p class="card-text">Some quick composition to beat the Spiritual Realm.</p>
          <a href="/pagina5" class="btn btn-primary">Visit Guide</a>
        </div>
      </div>
    

  </div>



{% endblock %}

