{% extends 'base/basicview.html' %}
{% block content %}
<h1>Free-to-play teams for Spiritual Realm B10</h1>
<br><br>
<p class="text-center">Fourth Team</p>

<div class="card-group">
    <div class="card">
      <img src="resources/img/chars/verdehile_icon.png" class="card-img-top" alt="verdehile summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Verdehile (Leader)</h5>
        <p class="card-text">With his attack bar filler ability, he further speeds up the entire team, ensuring that they can act before the enemies. Verdehile also contributes constant damage, helping to eliminate enemies faster.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/spectra_icon.png" class="card-img-top" alt="spectra summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Spectra</h5>
        <p class="card-text">She controls the battlefield with her ability to reduce enemies' attack bar and apply a speed debuff, slowing their movements.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/raoq_icon.png" class="card-img-top" alt="raoq summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Raoq</h5>
        <p class="card-text">His ability to perform team attacks is key in the Spiritual Realm, allowing the team to perform more combo attacks. By defeating enemies, Raoq triggers additional turns, speeding up the flow of combat and allowing for quick wave clearing.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/astar_icon.png" class="card-img-top" alt="astar summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Astar</h5>
        <p class="card-text">Her ability to deal area damage allows her to quickly eliminate groups of enemies.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/riley_icon.png" class="card-img-top" alt="riley summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Riley</h5>
        <p class="card-text">She provides essential healing and buffs, in addition to her ability to increase the team's defense, which improves their durability in tough fights. Her ability to cleanse debuffs is also crucial, keeping the team free from negative effects.</p>
      </div>
    </div>
  </div>
  <br><br>

{% endblock %}