{% extends 'base/basicview.html' %}
{% block content %}
<h1>Free-to-play teams for Necropolis B10</h1>
<br><br>
<p class="text-center">Third Team</p>

<div class="card-group">
    <div class="card">
      <img src="resources/img/chars/loren_icon.png" class="card-img-top" alt="loren summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Loren (Leader)</h5>
        <p class="card-text">Her attack bar reduction and defense debuff slow the boss's progress, preventing it from charging its turn quickly. It also reduces the Lich's defense, maximizing the damage it takes.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/fran_icon.png" class="card-img-top" alt="fran summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Fran</h5>
        <p class="card-text">Her immunity is crucial to mitigating the boss's negative effects, and her heals help prolong survival in the long Necropolis fight. Additionally, his attack buff boosts the team's overall damage output.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/xiong_icon.png" class="card-img-top" alt="xiong summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Xiong Fei</h5>
        <p class="card-text">His ability to reflect damage allows him to tank hits and reflect back some of the damage he takes, which is useful in the long Necropolis battles. His ability to heal and cleanse debuffs makes him a pillar of support and control.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/kro_icon.png" class="card-img-top" alt="kro summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Kro</h5>
        <p class="card-text">He is the team's main damage dealer, taking advantage of enemy debuffs to deal burst damage. His ability to increase damage based on debuffs applied to the Lich makes him a massive source of DPS. Additionally, with his ability to apply Defense Rend, he not only increases his own damage, but that of the entire team as well, allowing for devastating attacks in critical phases of combat.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/raoq_icon.png" class="card-img-top" alt="raoq summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Raoq</h5>
        <p class="card-text">Provides multiple attacks, crucial for reducing the Lich's shield counters in Necropolis. His passive allows his teammates to act again when eliminating enemies, speeding up the turn cycle and maximizing team damage.</p>
      </div>
    </div>
  </div>
  <br><br>

{% endblock %}