{% extends 'base/basicview.html' %}
{% block content %}
<h1>Free-to-play teams for Giant's Keep B10</h1>
<br><br>


<p class="text-center">First Team</p>
<div class="card-group">
    <div class="card">
      <img src="resources/img/chars/fran_icon.png" class="card-img-top" alt="fran summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Fran (Leader)</h5>
        <p class="card-text">Provides healing, immunity and attack buff, as well as a leader skill that improves attack speed, speeding up the team.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/veromos_icon.png" class="card-img-top" alt="veromos summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Veromos</h5>
        <p class="card-text">Provides debuff cleanse and stuns enemies, while healing the team with its passive, improving team survivability.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/loren_icon.png" class="card-img-top" alt="loren summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Loren</h5>
        <p class="card-text">Applies attack and defense bar reduction, controlling the Giant and weakening it to increase the damage received by the team.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/naomi_icon.png" class="card-img-top" alt="naomi summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Naomi</h5>
        <p class="card-text">Deals massive damage when enemies have harmfuls effects, maximizing your critical damage against the weakened Giant.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/shannon_icon.png" class="card-img-top" alt="shannon summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Shannon</h5>
        <p class="card-text">Provides defense and attack buffs, as well as slowing the Giant with its speed debuff, improving the team's survivability and damage.</p>
      </div>
    </div>
  </div>
  <br><br>




{% endblock %}