{% extends 'base/basicview.html' %}
{% block content %}
<h1>Free-to-play teams for Dragon B10</h1>
<br><br>
<p class="text-center">Second Team</p>

<div class="card-group">
    <div class="card">
      <img src="resources/img/chars/verdehile_icon.png" class="card-img-top" alt="verdehile summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Verdehile (Leader)</h5>
        <p class="card-text">Provides a leader skill that improves attack speed, as well as increasing damage and allowing additional turns with its passive skill that fills the attack bar.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/veromos_icon.png" class="card-img-top" alt="veromos summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Veromos</h5>
        <p class="card-text">Cleans debuffs and stuns enemies, increasing team survivability while providing healing with his passive during battle.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/belladeon_icon.png" class="card-img-top" alt="belladeon summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Belladeon</h5>
        <p class="card-text">Provides healing, removes enemy buffs, and applies a debuff to enemy defense, ensuring team survivability and increasing damage against the Dragon.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/spectra_icon.png" class="card-img-top" alt="spectra summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Spectra</h5>
        <p class="card-text">Increases damage with his attack bar ability, as well as applying a speed debuff, controlling the Dragon and improving the team's damage.</p>
      </div>
    </div>
    <div class="card">
      <img src="resources/img/chars/loren_icon.png" class="card-img-top" alt="loren summoners war icon">
      <div class="card-body">
        <h5 class="card-title">Loren</h5>
        <p class="card-text">Applies attack and defense bar reduction, controlling the Dragon and weakening it, maximizing the damage it receives from the team.</p>
      </div>
    </div>
  </div>
  <br><br>


{% endblock %}